body {
  max-width: 648px;
  margin: auto;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #484848;
}

hr {
  border-top: 0;
  border-color: lightgrey;
}

*:focus {
  outline: 0;
}
