body {
  max-width: 600px;
  margin: auto;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #484848;
}

hr {
  border-top: 0;
  border-color: lightgrey;
}

*:focus {
  outline: 0;
}

.moreWrapper {
  height: 0;
  transition: 0.5s height ease-out;
  overflow: hidden;
}

.moreContent {
  height: fit-content;
}
