.background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.8);
}

.frame {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px 0px;
  padding: 2em;
  background-color: white;
}

.dismiss {
  width: 1.2em;
  height: fit-content;
  border-radius: 1em;
  font-size: 1.6em;
  font-weight: 100;
  text-align: center;
  color: grey;
  cursor: pointer;
}

.dismiss:focus {
  outline: 1;
  outline-color: darkgrey;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px 0px;
}

.title {
  margin: 0.5em;
  font-size: 1.6em;
  font-weight: 800;
}

.content {
  margin: 0 0.5em;
}
