.listingSummary {
  display: grid;
  grid-template-rows: auto [listingType] auto [headline] auto [city] auto [capacity] auto;
  grid-template-columns: auto fit-content;
}

.listingType {
  font-variant: small-caps;
}

.headline {
  grid-row: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6em 0 1.2em;
}

.title {
  font-size: 2em;
  font-weight: 600;
}

.city {
  grid-row: city;
}

.capacity > span {
  grid-row: capacity;
  font-size: 0.8em;
  margin-right: 0.5em;
}

.host {
  width: fit-content;
  grid-row: title;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: top;
}

.avatar {
  width: 3em;
  height: auto;
  border-radius: 1.5rem;
  border-color: white;
}
