.listingSummary {
  display: flex;
  flex-direction: column;
}

.listingType {
  font-variant: small-caps;
  font-weight: 400;
}

.headline {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin: 0.5rem 0 1rem;
}

.title {
  padding: 0 1rem 0 0;
  font-size: 2rem;
  font-weight: 600;
}

.capacity {
  display: flex;
}

.capacityField {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  margin-right: 1rem;
}

.capacityField > img {
  margin: 0 0.25em 0 0;
}

.host {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: top;
  width: fit-content;
  font-size: 0.8rem;
}

.avatar {
  width: 4rem;
  height: auto;
  border-radius: 2rem;
  border-color: white;
}

@media (max-width: 360px) {
  .capacity {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
