.listingSummary {
  display: flex;
  flex-direction: column;
}

.listingType {
  font-variant: small-caps;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5em 0 1em;
}

.title {
  font-size: 2em;
  font-weight: 600;
  padding: 0 1em 0 0;
}

.capacity {
  display: flex;
}

.capacityField {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  margin-right: 1em;
}

.capacityField > img {
  margin: 0 0.25em 0 0;
}

.host {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: top;
  width: fit-content;
  font-size: 0.8em;
}

.avatar {
  width: 4em;
  height: auto;
  border-radius: 2em;
  border-color: white;
}

@media (max-width: 360px) {
  .capacity {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
