.backdrop {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: auto;
}

.frame {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 2rem;
  width: fit-content;
  height: fit-content;
  max-width: 600px;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px 0px;
  margin: 0 auto;
  padding: 2rem;
  background-color: white;
}

.dismiss {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 100;
  color: grey;
  cursor: pointer;
  line-height: 0.99rem;
}

.dismiss:focus {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px 0px;
  outline: 1;
  outline-color: darkgrey;
}

.title {
  margin: 0.5rem;
  font-size: 1.2rem;
  font-weight: 800;
}

.content {
  margin: 0 0.5rem;
}

@media (max-width: 640px) {
  .frame {
    margin: 0 20px;
  }
}

@media (max-width: 360px) {
  .frame {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
}
