__test__/
.circleci/
client/
public/dist/
coverage/
node_modules/
database/csv/
generate/

.git/
.env
.babelrc
.gitignore

Dockerfile
Gruntfile.js
webpack.config.js
ecosystem.config.js

README.md
STYLE-GUIDE.md
api.md

generate.sh

dump.rdb
vacationme-artillery.yml
docker-compose.yml