.videoContainer {
  position: relative;
}

.video,
.videoOverlay {
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px 0px;
  margin: 1rem 5%;
}

.videoOverlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.screen {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.screen.paused {
  opacity: 0.4;
  background-color: black;
}

.screen.paused:hover {
  opacity: 0.2;
  background-color: black;
}

.bigPlay {
  font-size: 8rem;
  color: #888888;
}

.bigPlay:hover {
  color: white;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-self: flex-end;
  width: 96%;
  height: 3rem;
  padding: 0 2%;
  cursor: pointer;
  -webkit-transition: 2s;
  transition: opacity 2s;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.controls.paused {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.4));
}

.playing:not(:hover) > .controls {
  opacity: 0;
  cursor: default;
}

.controller {
  width: 2rem;
  opacity: 0.6;
  margin: 0 0.4rem 0.4rem;
  font-size: 2rem;
  color: #444444;
  cursor: pointer;
  vertical-align: inherit;
}

.controller:hover {
  opacity: 1;
  font-size: 2.5rem;
  vertical-align: middle;
}

.slider {
  height: 0.1rem;
  opacity: 0.6;
  border-radius: 0.2rem;
  box-shadow: rgba(255, 255, 255, 0.8) 0px 1px 10px 0px;
  margin: 0 0.5rem 0;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  -webkit-appearance: none;
  appearance: none;
  background: #888888;
  outline: 0;
}

.slider::-webkit-slider-thumb {
  width: 1rem;
  height: 1rem;
  z-index: 40;
  border-radius: 0.5rem;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 10px 0px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background: #444444;
}

.slider::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  z-index: 40;
  border-radius: 0.5rem;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 10px 0px;
  cursor: pointer;
  background: #444444;
}

.slider:hover {
  opacity: 1;
}

.volume {
  width: 5rem;
  -webkit-transition: 0.5s;
  transition: width 0.5s;
}

.volume.hidden {
  width: 0;
}

.hidden::-webkit-slider-thumb {
  display: none;
}

.hidden::-moz-range-thumb {
  display: none;
}

.progress {
  flex: 1;
}
