.subsection {
  margin: 1rem 0 0;
}

.subtitle {
  font-weight: 400;
}

.content {
  padding: 0.5rem 0;
}

.link {
  width: fit-content;
  margin: 0.5rem 0 1rem;
  font-weight: 400;
  color: #008489;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.link:focus {
  outline: 0;
}

.icon {
  margin: 0 0 0 0.5rem;
}

.hr {
  margin: 0 0 1.5rem;
  border-top: 0;
  border-color: lightgrey;
}
