.listingSummary {
  display: flex;
  flex-direction: column;
}

.listingType {
  font-weight: 400;
  font-variant: small-caps;
}

.smallscreenTitle {
  display: none;
}

.headline {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin: 0.25rem 0;
}

.mainTitle,
.smallscreenTitle {
  padding: 0 1rem 0 0;
  font-size: 2rem;
  font-weight: 600;
}

.capacity {
  display: flex;
  margin: 1rem 0;
}

.capacityField {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  margin-right: 1rem;
}

.capacityField > img {
  margin: 0 0.25em 0 0;
}

.host {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: top;
  width: fit-content;
  margin: 0.5rem 0;
  font-size: 0.8rem;
}

.avatar {
  width: 4rem;
  height: auto;
  border-radius: 2rem;
  border-color: white;
}

@media (max-width: 420px) {
  .smallscreenTitle {
    display: block;
  }
  .mainTitle {
    display: none;
  }
  .headlineText {
    min-width: 80%;
  }
  .capacity {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .avatar {
    width: 3rem;
    height: auto;
  }
}
