.sleepingArrangements {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  margin: 0.5rem 0 0;
  grid-gap: 0.5rem 2%;
}

.sleepingArrangement {
  border: 1px solid lightgrey;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.spaceName {
  margin: 0 0 0.5rem;
  font-weight: 600;
}

.moreWrapper {
  height: 0;
  opacity: 0;
  transition: 0.5s all ease-out;
  overflow: hidden;
}

.moreContent {
  height: fit-content;
}

@media (max-width: 400px) {
  .sleepingArrangementTiles {
    grid-template-columns: 50% 50%;
  }
}
