.sleepingArrangementTiles {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  margin: 0.5em 0 0;
  grid-gap: 0.5em 2%;
}

.sleepingArrangementTile {
  border: 1px solid lightgrey;
  border-radius: 0.5em;
  padding: 0.5em;
}

.spaceName {
  margin: 0.5em 0;
  font-weight: 600;
}

@media (max-width: 400px) {
  .sleepingArrangementTiles {
    grid-template-columns: 50% 50%;
  }
}
