.amenityList {
  display: grid;
  grid-template-columns: 50% 50%;
}

.amenityItem {
  margin: 0.5rem 0;
}

.icon {
  width: 1.2rem;
  height: auto;
  margin: 0 0.5rem 0 0;
}

@media (max-width: 360px) {
  .amenityList {
    grid-template-columns: 100%;
  }
}
