.detailsContainer {
  max-width: 600px;
  margin: auto;
  padding: 2em 0;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #484848;
}

@media (max-width: 640px) {
  .detailsContainer {
    margin: 0 20px;
  }
}
