.highlights {
  border: 1px lightgrey solid;
  border-radius: 0.5em;
  margin: 0.5em 0;
  padding: 1em;
}

.heading {
  margin: 0 0 0.5em;
  font-weight: 600;
  font-variant: small-caps;
  color: #888888;
}

.highlight {
  margin: 1em 0 0;
}

.tagline {
  font-weight: 400;
}

.feedback {
  margin: 0.5em 0;
  font-size: 0.8em;
  color: #888888;
}

.thumbsUp {
  position: relative;
  top: 0.1em;
  width: 1em;
  height: auto;
}

.upvote,
.downvote {
  font-weight: 400;
  cursor: pointer;
}

.upvote:hover,
.downvote:hover {
  color: #008489;
}
